= form_for [:admin, @query] do |f|
  = render :partial => "error_messages", :locals => { :resource => @query }
  .field
    = f.label :user_id
    = collection_select :query, :user_id, User.all, :id, :name, {:include_blank => true}
  .field
    = f.label :question
    %br/
    = f.text_field :question
  .field
    = f.label :mentor
    = collection_select :query, :mentor_id, User.all, :id, :name, {:include_blank => true}
    %br/
  .actions
    = f.submit