- title "Query for " + @query.user.try(:name) + " - Admin"

%p#notice= notice
Administrative View: Showing Query
%p
  %b UserID:
  = @query.user_id
%p
  %b Email:
  = @query.user.try(:email)
%p
  %b Question:
  = @query.question
%p
  %b Mentor:
  = @query.mentor.try(:name)

= link_to 'Edit', edit_admin_query_path(@query)
|
= link_to 'Back', admin_queries_path