= form_for [:admin, @user] do |f|
  = render :partial => "error_messages", :locals => { :resource => @user }
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save', :class => 'blue_button'
